apipkg==3.0.2
apparmor==3.1.6
argcomplete==3.1.2
Brotli==1.1.0
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.2.0
click==8.1.7
cmdln==2.0.0
configobj==5.0.8
createrepo-c==0.20.1
crit==3.18
cryptography==41.0.4
cssselect==1.2.0
cupshelpers==1.0
decorator==5.1.1
greenlet==3.0.0
idna==3.4
importlib-resources==6.0.1
iniconfig==2.0.0
ipaddr==2.2.0
LibAppArmor==3.1.6
lxml==4.9.3
msgpack==1.0.5
mysqlclient==2.1.1
nftables==0.1
notify2==0.3.1
opi==3.6.0
packaging==23.1
pipx==1.2.1
protobuf==4.23.4
psutil==5.9.5
py==1.11.0
pycairo==1.25.1
pycparser==2.21
pycups==2.0.1
pycurl==7.45.2
PyGObject==3.46.0
pynvim==0.4.3
pyOpenSSL==23.2.0
PySocks==1.7.1
python-linux-procfs==0.7.0
pyudev==0.24.1
requests==2.31.0
rpm==4.18.0
six==1.16.0
termcolor==2.1.1
urllib3==2.0.7
userpath==1.9.0
